body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    background-color: #f5f5f5;
}

.filter{
    display: flex;
    gap: 2em;
}

.filter a{
    padding: 0.25em 1.5em;
    border: #e67a14 3px solid;
    border-radius: 25px;
    text-decoration: none;
    color: #415f94;
    font-family: "Lato-regular", sans-serif;
    font-weight: 700;
    margin-top: 105px;
    transition: all 200ms ease-out;
}

.filter a:hover{
    scale: 1.125;
}