body{
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: "Lato-bold", sans-serif;
    font-weight: 500;
}

.login_form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(../images/Image_light_webshop.webp);
    filter: blur(0.25em);
    /* animation: blur 2s  ease-out 0.5s forwards 1; */
}

.darken{
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.25);
}

.form_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 142, 149, 0.5);  
    color: #E8E3E3;
    padding: 4em 3.5em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: white 2px solid;
    opacity: 1;
    /* animation: slideUp 1.5s  ease-out 1s forwards 1;  */
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.form_container h1 {
    font-family: "Lato-bold", sans-serif;
    font-weight: 700;
    font-size: 38pt;
    padding: 0;
    margin: 0;
    text-align: center;
    height: fit-content;
}

a{
    color: #E8E3E3;
}

.input_field{
    width: 300px;
    height: 25px;
    border-radius: 15px;
    border: white 1px solid;
    margin-top: 0.5em;
    background-color: rgba(176, 193, 201, 0.2);  
    color: #E8E3E3;
    padding-left: 10px;
}

.btn{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #e67a14;
    color: #E8E3E3;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: 12pt;
}

.btn:hover{
    scale: 1.02;
}

.password{
    margin-bottom: 2em;
}

.error{
    background-color: rgb(224, 60, 60);
    padding: 0em 0.75em;
    border-radius: 5px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blur{
    0%{
        filter: blur(0rem);
    }

    100%{
        filter: blur(0.25rem);
    }
}

.error{
    background-color: rgb(224, 60, 60);
    padding: 0em 0.75em;
    border-radius: 5px;
    color: white;
}