main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    width: 100%;
    padding: 1em;
    justify-content: space-evenly;
}

.payment_section {
    border-radius: 15px;
    width: 100%;
    background-color: white;
}


.payment_section p {
    font-size: 14pt;
    color: #50504f;
    margin-bottom: 1em;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_group label {
    font-weight: 500;
    color: #50504f;
    margin-bottom: 0.5em;
}

.form_group input {
    padding: 0.5em;
    border: #415f94 3px solid;
    border-radius: 10px;
}

.submit {
    padding: 0.5em 1em;
    background-color: #e67a14;
    border: #e67a14 3px solid;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16pt;
    width: 100%;
}

.submit:hover {
    scale: 1.05;
}

.orderlines{
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.artikelen_titel{
    align-self: flex-start;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.right_top{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 3em;
}

.right_bottom{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3em;
}


.order_shopping_cart_item_name{
    margin: 0;
    font-size: 28pt;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order_shopping_cart_item_name_color_size{
    justify-self: flex-start;
}

.order_shopping_cart_item_name_color_size p{
    color: #767676;
    font-size: 18pt;
}


.order_shopping_cart_item_img{
    width: 200px;
    height: 200px;
    background-image: url(../images/lamp_groen.webp);
    background-size: cover;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    flex-shrink: 0;
}

.order_shopping_cart_info_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 75%;
}

.order_shopping_cart_item_amount{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: flex-end;
    align-self: center;
    font-size: 18pt;
}

.order_shopping_cart_item_price{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: first baseline;
    font-size: 18pt;
    margin: 0;
}

.order_delete{
    background-image: url(../images/close.svg);
    width: 55px;
    height: 55px;
    justify-self: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.order_item {
    display: flex;
    width: 90%;
    max-width: calc(100% - 2em); /* Houd rekening met de marges */
    margin-left: 1em;
    margin-right: 1em;
    flex: 0 1 auto;
    padding: 0;
    justify-content: space-between;
    box-sizing: border-box; /* Zorg ervoor dat padding en marges worden meegerekend */
    align-self: center;
    gap: 3em;
}

.order_divider2{
    width: 90%;
    height: 4px;
    background-color: #415f94;
    border-radius: 15px;
    align-self: center;
    flex-shrink: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}